/* General Styles */

.hero {
  background-size: cover;
  background-position: center;
  height: 110vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem; /* Padding for larger screens */
  margin-top: -7.5rem;
}

.heroText {
  color: white;
  z-index: 20;
  max-width: 50%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heroText h1 {
  color: var(--Foundation-Primary-color-P300, #fe8315);
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 600;
}

.heroText h2 {
  color: var(--Foundation-White-text-color-W300, #fff);
  font-family: Poppins;
  font-size: 3rem;
  width: 500px;
  font-weight: 600;
  line-height: 4rem;
}

.heroText ul li {
  color: var(--Foundation-White-text-color-W300, #fff);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  width: 300px;
  line-height: 1.5rem;
}

.heroImage {
  position: relative;
  z-index: 1;
}

.heroImage img {
  max-width: 100%;
  height: auto;
}

.ctaButton {
  border-radius: 0.375rem;
  background: var(--Foundation-Primary-color-P300, #fe8315);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  color: var(--Foundation-White-text-color-W300, #fff);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  width: fit-content;
  position: relative;
  z-index: 10;
  padding: 1rem 1.5rem;
}
.nameAvatar {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.875rem; /* 166.667% */
}
.descAvatar {
  color: var(--Foundation-Black-Text-Color-B75, #a6a6a6);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}
.wrapperAvatar {
  width: 3.75rem !important;
  height: 3.75rem !important;
  border-radius: 3.75rem;
}

.leftAppDownload {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: 50%; */
}
.cutSection {
  background: var(--Foundation-Secondary-color-S50, #fffbe6);
  height: 2.125rem;
}
.cutSectionTow {
  background: #fff;
  height: 4rem;
}
.bottom-wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  z-index: 10;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.cardServiceAppointment {
  border-radius: 1.43119rem;
  /* margin: 1rem; */
  padding: 1.5rem 2rem;
  height: auto;
  background: var(--Foundation-White-text-color-W300, #fff);
}
.makeAppointment {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem; /* Padding for larger screens */
}

.leftSection {
  /* flex: 1; */
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-around;
  /* height: 100%; */
  /* width: 400px; */
}
.rightSection {
  display: flex;
  /* height: 40%; */
  flex-direction: column;
  justify-content: space-around;
  /* height: 100%; */
  /* width: 400px; */
}
.serviceLine {
  display: flex;
  align-items: center;
}
.vendorLine {
  display: flex;
  margin: 1rem 0rem;
  align-items: center;
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  text-align: center;
  /* font-family: "DM Sans"; */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem; /* 116.667% */
}
.ratingVendorCard {
  color: var(--Foundation-Black-Text-Color-B200, #4b4c4c);
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bottomVendorCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.vendorCardButton {
  color: var(--Foundation-Black-Text-Color-B100, #818282);
  font-family: Poppins;
  font-size: 0.75rem;
  background-color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 0.375rem;
  border: 1px solid var(--Foundation-Black-Text-Color-B300, #262727);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}
.cardServiceAppointmentTitle {
  color: #141414;
  font-family: Poppins;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.86238rem; /* 163.565% */
}
/* Target the wrapper for the input field */
.customLabelCheckBox {
  color: var(--Foundation-Black-Text-Color-B75, #a6a6a6);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.signUpButton {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.86238rem; /* 190.825% */
  letter-spacing: -0.015rem;
  border-radius: 0.71563rem;
  background: var(--Foundation-Primary-color-P300, #fe8315);
  padding: 1.5rem 0;
  width: 100%;
}
.bottomTextCard {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: normal;
}
.bottomTextCardT {
  color: var(--Foundation-Primary-color-P300, #fe8315);
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  margin-left: 0.5rem;
  line-height: normal;
}

.customCheckBox {
  background-color: #fe8315; /* Set the background color */
  border: 1px solid #fe8315; /* Set the border color */
}

/* Optional: Change the checkbox indicator color when checked */
.customCheckBox[data-state="checked"] {
  background-color: #fe8315; /* Change background color when checked */
  border-color: #fe8315; /* Change border color when checked */
}
.customCheckBox[data-state="checked"]::before {
  background-color: #fe8315; /* Change checkmark color */
}

/* Mobile Responsive Styles (max-width: 768px) */
.servicesSection {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 2rem 3rem;
  background: var(--Foundation-Secondary-color-S50, #fffbe6);
}

.vendorsSection {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 2rem 3rem;
  background: var(--Foundation-Secondary-color-S50, #fff);
}
.VendorItemsCard {
  border-radius: 0.75rem;
  background: var(--Foundation-White-text-color-W300, #fff);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 1rem;
}
.titleVendor {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.35rem; /* 120% */
}
.descVendor {
  color: var(--Foundation-Black-Text-Color-B200, #4b4c4c);
  font-family: Poppins;
  font-size: 0.875rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ImageVendor > img {
  border-radius: 0.75rem;
}
.servicesTitle {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem; /* 160% */
}
.servicesItemsCard {
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  align-items: self-start;
  /* width: 250px; */
}
.servicesDesc {
  color: var(--Foundation-Black-Text-Color-B200, #4b4c4c);
  text-align: center;
  font-feature-settings: "liga" off;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  width: 80%;
  line-height: 1.75rem; /* 175% */
}
.titleService {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  /* font-feature-settings: "liga" off; */
  font-family: Poppins;
  font-size: 1.375rem;
  font-style: normal;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 2rem; /* 145.455% */
}
.descService {
  color: var(--Foundation-Black-Text-Color-B200, #4b4c4c);
  /* font-feature-settings: "liga" off; */

  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
}
.titleAppDownload {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 3.5rem; /* 140% */
}
.descAppDownload {
  color: var(--Foundation-Black-Text-Color-B200, #4b4c4c);
  font-feature-settings: "liga" off;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
}
.testimonialsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 2rem;
  width: 100%; /* تأكد من أن الحاوية تأخذ عرض الشاشة بالكامل */
}

.testimonialsItems {
  display: flex;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  gap: 2rem;
}

.testimonialsItemsCard {
  padding: 1rem 2rem;
  display: flex;
  /* width: 23.125rem; */
  height: 22.625rem !important;
  /* padding: 1.5rem; */
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: flex-start;
  background: var(--Foundation-White-text-color-W300, #fff);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0.875rem;
  width: 100%; /* عرض البطاقة كاملاً في الجوال */
  box-sizing: border-box; /* التأكد من حساب الحواف padding ضمن العرض */
}

.faqSection {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 2rem 3rem;
  /* padding: 2rem; */
  font-family: Arial, sans-serif;
}

.faqTitle {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  font-family: Poppins;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem; /* 160% */
  margin-bottom: 2rem;
}

.faqList {
  border-top: 1px solid #e0e0e0;
}

.faqItem {
  border-bottom: 1px solid #e0e0e0;
}

.faqQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 187.5% */
  padding: 1rem 0;
  cursor: pointer;
}

.faqAnswer {
  padding: 1rem 0;
  color: var(--Foundation-Black-Text-Color-B100, #818282);
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 166.667% */
}

.toggleIcon {
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.2s ease;
}

/* Footer.module.css */

.footer {
  background-color: #fdf9ec; /* Light cream background */
  padding: 2rem;
  font-family: "Arial", sans-serif;
  font-size: 0.875rem;
  color: #333;
}
.footerBottomT {
  text-align: center;
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
  /* border-bottom: 1px solid #dcdcdc; */
}

.logoAndNav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 2rem;
  height: 4rem;
  width: 5rem;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  line-height: normal;
}

.nav a:hover {
  text-decoration: underline;
  color: #fe8315 !important;
}

.socialLinks {
  display: flex;
  gap: 1rem;
}

.socialLinks a img {
  height: 24px;
  width: 24px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  font-size: 0.875rem;
  color: #333;
}

.footerBottom p {
  margin: 0;
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  font-family: Poppins;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.footerBottom a {
  color: #333;
  text-decoration: none;
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerBottom a:hover {
  text-decoration: underline;
}

.bottomRight {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footerTop {
    flex-direction: column;
    align-items: self-start;
  }
  .cardServiceAppointment {
    margin-top: 2rem;
  }
  .footerBottom {
    flex-direction: column;
    text-align: center;
  }

  .bottomRight {
    flex-direction: column;
  }

  .nav {
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1rem;
  }
  .footer {
    padding: 2rem;
  }
  .logo {
    margin-right: unset;
    margin-bottom: 2rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .faqSection {
    padding: 1rem;
  }

  .faqTitle {
    font-size: 1.5rem;
  }

  .faqQuestion {
    font-size: 1.125rem;
  }

  .faqAnswer {
    font-size: 0.875rem;
  }
}

/* الشاشات الكبيرة (سطح المكتب) */
@media (min-width: 1024px) {
  .testimonialsItemsCard {
    flex: 0 0 calc(33.333% - 1rem); /* عرض 3 بطاقات */
    max-width: calc(
      33.333% - 1rem
    ); /* التأكد من أن البطاقات لا تتجاوز 3 في الصف */
  }
}

/* الشاشات الصغيرة (الجوال) */
@media (max-width: 768px) {
  .testimonialsItems {
    flex-direction: column; /* عرض البطاقات عموديًا في الجوال */
  }

  .testimonialsItemsCard {
    flex: 0 0 90%; /* عرض بطاقة واحدة فقط في الجوال */
    max-width: 100%; /* منع تجاوز البطاقة لحجم الشاشة */
    min-width: none;
    min-height: 340px;
  }

  .testimonialsWrapper {
    padding: 0 1rem; /* تقليل المسافة الجانبية لمنع خروج الكارد */
  }
}

.arrowButtonLeft,
.arrowButtonRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: #fe8315; */
  border: none;
  /* padding: 0.5rem 1rem; */
  color: white;
  cursor: pointer;
  z-index: 1;
}

.arrowButtonLeft {
  left: -2rem;
}

.arrowButtonRight {
  right: -2rem;
}
/* @import "../styles.module.css"; */
/* service */
.ourService {
  background-size: cover;
  background-position: center;
  height: 110vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 3rem; /* Padding for larger screens */
  margin-top: -7.5rem;
}
.bottom-wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  z-index: 10;
  overflow-x: hidden; /* Prevents 
  rizontal scrolling */
}
.ourServiceText {
  max-width: 100%; /* Full width */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourServiceText h1 {
  color: var(--Foundation-White-text-color-W300, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5rem; /* 125% */
}
.ourServiceText p {
  color: var(--Foundation-White-text-color-W300, #fff);
  text-align: center;
  font-family: Poppins;
  /* align-items: center; */
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
  max-width: 50%;
}
.searchButton {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.73438rem; /* 173.438% */
  display: inline-flex;
  padding: 0.875rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.75rem;
  background: var(--Foundation-Primary-color-P300, #fe8315);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
}
.searchContainer {
  border-radius: 1rem;
  border: 1px solid var(--Foundation-Black-Text-Color-B75, #a6a6a6);
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0rem;
  width: 80%;
}
.servicesSectionSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 3rem;
  /* background: var(--Foundation-Secondary-color-S50, #fffbe6); */
}

.searchInput,
.leftSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchInput {
  justify-content: space-between;
}
.leftSearch input {
  outline: none;
  margin-right: 0.5rem;
  flex: 1;
}
.leftSearch svg {
  margin-right: 0.5rem;
}
.leftSearch {
  flex: 1;
}
.subTitleGetOurService {
  color: var(--Foundation-Primary-color-P300, #fe8315);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 1.125rem */
  letter-spacing: 0.1125rem;
  text-transform: uppercase;
}
.titleGetOurService {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  text-align: center;
  font-family: Poppins;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 4.9rem */
}
.descOurService {
  color: var(--Foundation-Black-Text-Color-B100, #818282);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 1.6rem */
}
.septsGetOurService {
  display: flex;
  /* width: 82.5625rem; */
  padding: 0rem 4.49025rem;
  /* justify-content: space-between; */
  margin: 4rem 0rem;
  align-items: stretch;
  /* align-items: center; */
}
.CardSeptsGetOurService {
  /* border-radius: 0.86906rem; */
  border: 1.159px solid var(--Foundation-Black-Text-Color-B50, #e9e9e9);
  display: flex;
  padding: 4rem 3rem;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  gap: 1.15875rem;
}
.subTitleCardSeptsGetOurService {
  color: var(--Foundation-Primary-color-P300, #fe8315);
  text-align: center;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.225rem */
  border-radius: 6.51806rem;
  border: 2.318px solid var(--Foundation-Black-Text-Color-B50, #e9e9e9);
  padding: 0.5rem 1rem;
}
.titleCardSeptsGetOurService {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  text-align: center;
  font-family: Poppins;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 1.925rem */
}
.containerGetOurService {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.descCardSeptsGetOurService {
  color: var(--Foundation-Black-Text-Color-B100, #818282);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 1.6rem */
}
.sellSection {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/website/bg-sell.png") lightgray 0px -274.472px / 100% 322.777%
      no-repeat;
  background-position: center;
  background-size: cover;
}
.containerSell {
  display: flex;
  /* width: 61.6875rem; */
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
  gap: 0.875rem;
}
.sellButton {
  flex: 1;
}
.sellTitle {
  color: var(--Foundation-White-text-color-W300, #fff);
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  text-align: start;

  line-height: normal;
}
.sellDesc {
  color: var(--Foundation-White-text-color-W300, #fff);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  text-align: start;
  font-weight: 400;
  line-height: 2rem; /* 200% */
}

/* about us */
.aboutUs {
  background-size: cover;
  background-position: center;
  height: 110vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 3rem; /* Padding for larger screens */
  margin-top: -7.5rem;
}
.aboutUs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.8); /* اللون ودرجة الشفافية */
  opacity: 0.7; /* الشفافية */
  z-index: 1; /* يجعل التغطية خلف المحتوى */
}
.aboutUsFirst {
  display: flex;
  margin: 1rem 0rem;
}
.textSectionAboutUs {
  padding: 2rem;
  flex: 2;
}
.imageSectionAboutUs {
  padding: 2rem;

  flex: 1;
}
.descTextAboutUs {
  color: var(--Foundation-Black-Text-Color-B200, #4b4c4c);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  white-space: pre-wrap; /* css-3 */

  font-weight: 400;
  line-height: 1.875rem; /* 187.5% */
  text-align: start;
}
.titleTextAboutUs {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem; /* 140% */
  text-align: start;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .aboutUsFirst {
    flex-direction: column;
  }
  .ourService,
  .aboutUs,
  .servicesSectionSearch {
    padding: 2rem 2rem !important; /* Remove padding */
  }
  .ourServiceText p {
    max-width: 100%;
  }
  .aboutUsFirst:last-child {
    flex-direction: column-reverse;
  }
  .septsGetOurService {
    flex-direction: column;
  }
  .sellButton {
    margin-top: 2rem;
  }
}
.customInput2 [data-slot="input-wrapper"] {
  color: var(--Foundation-Black-Text-Color-B50, #e9e9e9) !important;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  background-color: transparent !important;
  line-height: 1.875rem; /* 187.5% */
  letter-spacing: -0.01rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Foundation-Black-Text-Color-B50, #e9e9e9) !important;
}
.customInput2 input {
  background-color: transparent !important; /* Make input field itself transparent */
  border: none !important; /* Remove inner border if any */
  color: #e9e9e9 !important; /* Ensure it uses the parent color */
  padding: 0 !important; /* Adjust padding if necessary */
}
.textRequestOpenClient {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  text-align: center;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  margin: 2rem 0rem;
  line-height: normal;
}
/* vendors */

.hederVendorsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.filterVendorContainer {
  display: flex;
  /* flex-wrap: wrap; */
  flex-basis: 40%;
}
.CardSeptsGetService {
  border-radius: 0.86906rem;
  /* border: 1.159px solid var(--Foundation-Black-Text-Color-B50, #e9e9e9); */
  display: flex;
  padding: 4rem 3rem;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  gap: 1.15875rem;
}
.subTitleCardSeptsGetService {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  text-align: center;
  font-family: Poppins;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  /* line-height: 6.09238rem; 443.083% */
  border-radius: 50%;
  background-color: var(--Foundation-Primary-color-P50, #FFF3E8);;
  /* border: 2.318px solid var(--Foundation-Black-Text-Color-B50, #e9e9e9); */
  padding:2.5rem;
}
@media (max-width: 768px) {
  .filterVendorContainer {
    flex-basis: 100%;
  }
  .hederVendorsSection {
    flex-direction: column;
  }
  .hero,
  .makeAppointment,
  .servicesSection,
  .vendorsSection,
  .faqSection,
  .septsGetOurService {
    flex-direction: column; /* Stack hero text and image vertically */
    padding: 2rem 2rem !important; /* Remove padding */
    justify-content: center;
    /* margin-top: 0; */
    /* height: auto; Let the content define height */
  }
  .textSectionAboutUs {
    padding: 2rem;
    flex: 1;
  }
  .imageSectionAboutUs {
    padding: 2rem;

    flex: 1;
  }
  .servicesItemsCard {
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: self-start;
    /* width: 250px; */
  }
  .heroText {
    max-width: 100%; /* Full width */
    text-align: start; /* Center align text */
    /* padding: 0 1.5rem; Add some padding for mobile */
  }
  .leftSection {
    margin-left: 1rem;
  }
  .heroText h2 {
    font-size: 2rem; /* Smaller font size for mobile */
    width: 100%; /* Full width */
    line-height: 3rem;
  }

  .heroText ul li {
    font-size: 0.875rem; /* Slightly smaller text */
    width: 100%; /* Full width */
  }

  .heroImage {
    display: none;
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: center; Center the image */
  }

  .heroImage img {
    width: 80%; /* Scale down image for mobile */
  }
  .testimonialsSection {
    padding: 0 1rem;
  }
  .ctaButton {
    font-size: 0.875rem; /* Adjust button font size */
    padding: 0.75rem 1.5rem;
  }

  .bottom-wave {
    width: 100vw; /* Ensure wave takes full viewport width */
  }
}

/* Additional breakpoint for larger mobile devices (max-width: 1024px) */

@media (max-width: 1024px) {
  .hero {
    padding: 0 1.5rem; /* Reduce padding for tablets */
  }

  .heroText h2 {
    font-size: 2.5rem; /* Adjust heading size for tablets */
    width: 100%;
  }

  .heroText ul li {
    font-size: 1rem; /* Adjust font size for tablets */
    width: 100%;
  }

  .heroImage img {
    width: 90%; /* Slightly larger image for tablets */
  }
}
