@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #333333;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* .btn-custom {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
} */
@media (min-width: 1536px) {
  .container {
    max-width: 1310px !important;
  }
}
.container {
  padding: 0 10px;
}
.item-navbar {
  color: var(--Foundation-Black-Text-Color-B300, #262727);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 768px) {
  .item-navbar {
    color: var(--Foundation-Black-Text-Color-B300, #fff);
  }
}
.navbar {
  border-radius: 2.5rem;
  background: var(--Foundation-White-text-color-W300, #fff);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  padding: 1rem 1.5rem;
}
.active-link {
  color: var(--Foundation-Primary-color-P300, #fe8315);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dropdown-item {
  color: white; /* Set dropdown item color to white */
  position: relative;
  top: 30px; /* Position dropdown items 30px from the top */
}
.mobile-menu {
  position: absolute;
  top: 54px;
  /* color: white; */
}
.custom-input [data-slot="input-wrapper"] {
  border-radius: 0.53669rem !important; /* Apply custom border radius */
  border: 1.431px solid var(--Foundation-Black-Text-Color-B75, #a6a6a6) !important; /* Apply custom border */
  background-color: #fff !important; /* Set the background color to white */
  box-shadow: none !important; /* Remove any default shadow */
  padding: 0.5rem !important; /* Adjust padding if needed */
  color: var(--Foundation-Black-Text-Color-B75, #a6a6a6) !important;
  font-family: Poppins !important;
  font-size: 1.25rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

/* Target the actual input field inside the wrapper */
.custom-input input {
  background-color: transparent !important; /* Make input field itself transparent */
  border: none !important; /* Remove inner border if any */
  color: inherit !important; /* Ensure it uses the parent color */
  padding: 0 !important; /* Adjust padding if necessary */
}
